.titile{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 12%;
    h1{
        font-family: 'Titre B2';
        font-weight: 700;
        font-size: 3em;
        letter-spacing: 2px;
        line-height: 65px;
    }
}

#shop{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    gap: 2%;
    padding: 0 10%;
    .filter{
        h2{
            font-family: 'Titre B1';
            font-size: 2.2em;
            letter-spacing: 2px;
            margin-bottom: 35px;
        }
        .pricerange{
            max-width: 250px;
            h3{
                font-family: 'texte';
                font-size: 1em;
                margin-bottom: 10px;
            }
            .price{
                display: flex;
                justify-content: space-between;
            }
        }
        .types{
            .cadre{
                h3{
                    margin-left: -10px;
                    position: relative;
                    margin-bottom: 5px;
                    &::after{
                        content: '';
                        height: 1px;
                        width: 100%;
                        background: #fff;
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                    }
                }
                margin: 10px 0;
            }
        }
    }
}
.stuff{
    .sale{
        border: 1px solid #fff;
        height: 275px;
        width: 200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .buy{
            background: linear-gradient(to right, #fff, yellow);
            width: fit-content;
            color: #000;
            font-family: 'Titre B2';
            padding: 5px 1em;
        }
        .info{
            p{
                text-transform: uppercase;
            }
            .money{
                p{
                    font-family: 'Titre B2';
                }
                .before{
                    margin-right: 5px;
                    font-size: .8em;
                    color: #949090;
                    text-decoration: line-through;
                    text-decoration-color: #fff;
                }
            }
        }
    }
}
.goodies .button{
    background: linear-gradient(to right, #EDDEBF, #890008);
    margin: 5% 0;
    padding: 1em 0;
    font-size: 1.2em;
    font-family: 'Titre B1';
    letter-spacing: 2px;
    border: none;
    opacity: 0.4;
    transition: 0.4s all ease-in-out;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}